body{
  background-color: #fcd703;
  font-family: cursive;
  font-weight: 900;
}
.main-heading{
  color: red;
}
h1{
  color: green;
  line-height: 60%;
}
h2{
  color: blue;
}
hr{
  border-style: none;
      border-top-style: dotted;
      border-color: #c203fc;
      border-width: 5px;
      width: 30%;
}
